/* discoCursor.css */

/* Custom cursor particles styles */
.particle {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #186f66;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: particleAnim 0.6s ease-out forwards;
    box-shadow: 0 0 15px rgba(24, 111, 102, 0.8);
}

@keyframes particleAnim {
    0% {
        transform: scale(1) translate(0, 0);
        opacity: 0.8;
        z-index: 5;
    }
    50% {
        z-index: 10;
    }
    100% {
        transform: scale(0.2) translate(30px, 30px);
        opacity: 0;
        z-index: 1;
    }
}